
.venv/
venv/
env/
build/
dist/

# Кэш Python (байт-код)
__pycache__/
*.py[cod]
*$py.class

*.xd

*.spec
*.env
*.pdf
*.mp3


*.xlsx
ch.py
ch2.py
audio.py

# Avoid your project being littered with annoying .DS_Store files!
.DS_Store
.prettierignore